/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End of CSS Reset */
/* Fonts */
@font-face {
  font-family: 'Arimo';
  src: url("../fonts/Arimo/Arimo-Regular.ttf"); }

@font-face {
  font-family: 'Arimo';
  font-weight: bold;
  src: url("../fonts/Arimo/Arimo-Bold.ttf"); }

@font-face {
  font-family: 'Arimo';
  font-style: italic;
  src: url("../fonts/Arimo/Arimo-Italic.ttf"); }

@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Arimo/Arimo-BoldItalic.ttf"); }

@font-face {
  font-family: 'PressStart2P';
  src: url("../fonts/Press_Start_2P/PressStart2P-Regular.ttf"); }

@font-face {
  font-family: 'GeekAByte';
  src: url("../fonts/GeekAByte/geekabyte2.ttf"); }

@font-face {
  font-family: 'SourceCodePro';
  src: url("../fonts/SourceCodePro/SourceCodePro-Regular.ttf"); }

body {
  font: 15px 'SourceCodePro', Helvetica, 'arial', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #fff;
  color: #313131;
  -webkit-font-smoothing: antialiased; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden; }

.slides {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  transition: transform 1s ease-in-out; }

.slide {
  display: none;
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: margin 0.25s ease-in-out;
  -moz-transition: margin 0.25s ease-in-out;
  -o-transition: margin 0.25s ease-in-out;
  transition: margin 0.25s ease-in-out; }

.force-render {
  display: block;
  visibility: hidden; }

.slide.far-past {
  display: block;
  margin-left: -200%; }

.slide.past {
  visibility: visible;
  display: block;
  margin-left: -100%; }

.slide.current {
  visibility: visible;
  display: block; }

.slide.future {
  visibility: visible;
  display: block;
  margin-left: 100%; }

.slide.far-future {
  display: block;
  margin-left: 200%; }

.slide .contents {
  position: absolute;
  width: 640px;
  height: 480px;
  top: 50%;
  left: 50%;
  margin-top: -240px;
  margin-left: -320px; }

/* Responsive slide sizes */
/* 640 x 480 is now the default (and minimum, for now) */
/* 800 x 600 */
@media (min-width: 800px) and (min-height: 600px) {
  body {
    font-size: 18.75px; }

  .slide .contents {
    width: 800px;
    height: 600px;
    margin-top: -300px;
    margin-left: -400px; } }
/* 1024 x 768 */
@media (min-width: 1024px) and (min-height: 768px) {
  body {
    font-size: 24px; }

  .slide .contents {
    width: 1024px;
    height: 768px;
    margin-top: -384px;
    margin-left: -512px; } }
/* 1152 x 864 */
@media (min-width: 1152px) and (min-height: 864px) {
  body {
    font-size: 27px; }

  .slide .contents {
    width: 1152px;
    height: 864px;
    margin-top: -432px;
    margin-left: -576px; } }
/* 1280 x 960 */
@media (min-width: 1280px) and (min-height: 960px) {
  body {
    font-size: 30px; }

  .slide .contents {
    width: 1280px;
    height: 960px;
    margin-top: -480px;
    margin-left: -640px; } }
/* 1440 x 1080 */
@media (min-width: 1440px) and (min-height: 1080px) {
  body {
    font-size: 33.75px; }

  .slide .contents {
    width: 1440px;
    height: 1080px;
    margin-top: -540px;
    margin-left: -720px; } }
/* 1600 x 1200 */
@media (min-width: 1600px) and (min-height: 1200px) {
  body {
    font-size: 37.5px; }

  .slide .contents {
    width: 1600px;
    height: 1200px;
    margin-top: -600px;
    margin-left: -800px; } }
/* 1920 x 1440 */
@media (min-width: 1920px) and (min-height: 1440px) {
  body {
    font-size: 45px; }

  .slide .contents {
    width: 1920px;
    height: 1440px;
    margin-top: -720px; } }
body.three-d div.slides {
  -webkit-transform: scale(0.78);
  -moz-transform: scale(0.78);
  -o-transform: scale(0.78);
  transform: scale(0.78); }

h1, h2, h3 {
  text-align: center; }

h1 {
  font-size: 3em;
  font-weight: bold;
  padding: 0;
  margin: 0.5em 0 0.5em 0;
  text-shadow: 2px 2px 2px #CCC; }

h2 {
  font-size: 2.2em;
  font-weight: bold;
  padding: 0;
  margin: 0.2em 0 0.5em 0;
  width: 100%; }

h3 {
  font-size: 1.8em; }

a {
  color: #333;
  font-weight: bold;
  text-decoration: none; }

ul {
  margin-top: 1em; }
  ul li {
    font-size: 1.8em;
    margin-bottom: 1em; }
  ul.smaller li {
    font-size: 1.5em;
    margin-bottom: 0.8em; }

.centre-wrap {
  position: relative;
  float: left;
  clear: left;
  left: 50%; }
  .centre-wrap ul {
    position: relative;
    left: -50%;
    text-align: left; }

.hidden {
  display: none; }

.top {
  margin-top: 3%; }

.bottom {
  bottom: 5%;
  position: absolute;
  width: 100%; }

.central {
  margin-top: 25%; }

figcaption {
  margin-top: 1em; }

.slide .contents img {
  max-width: 80%;
  max-height: 80%; }
.slide .contents > p {
  font-size: 1.2em;
  margin-bottom: 1em; }

blockquote {
  font-size: 2em;
  margin-top: 2em; }

blockquote p {
  margin-bottom: 1em; }

small.source {
  display: block;
  margin-top: 2em;
  font-style: italic; }

/* Slideshows */
[data-slideshow] {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

[data-slideshow] > * {
  position: absolute;
  width: 100%;
  height: 100%; }

[data-slideshow] > img,
[data-slideshow] > .caption,
[data-slideshow] > div > * {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out; }

[data-slideshow] img {
  position: relative;
  top: 0;
  left: 0; }

[data-slideshow] .caption {
  margin-top: 0.5em; }

[data-slideshow] .current img,
[data-slideshow] .current .caption,
[data-slideshow] .current > * {
  opacity: 1; }

.fade {
  opacity: 0.5; }

/* Multi-step slides */
[data-build] > .to-build {
  opacity: 0; }

[data-build] > * {
  /*
  -webkit-transition: opacity 0.5s ease-in-out 0.2s;
  -moz-transition: opacity 0.5s ease-in-out 0.2s;
  -o-transition: opacity 0.5s ease-in-out 0.2s;
  */ }

.github-ribbon img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 120px; }

.strike-through {
  text-decoration: line-through;
  position: relative; }
  .strike-through::after {
    content: '';
    border-bottom: 3px solid #313131;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%; }

/* Slide-specific styles */
.slide.intro h1 {
  margin-top: 0.2em; }
.slide.intro h2 {
  margin-top: 1.5em; }
.slide.intro h3 {
  font-size: 1.3em; }
.slide.intro img {
  width: 50%; }
.slide.code-ahead img {
  margin-top: 10%;
  width: 70%; }
.slide.presumptions img {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 21%;
  right: 18%;
  width: 21%; }
.slide.libraries ul {
  width: 100%;
  margin-left: 10%;
  text-align: left; }
.slide .demo-container {
  width: 100%;
  height: 80%;
  position: relative; }
.slide #container-webgl {
  height: 70%; }
.slide.threejs-css3d .block {
  width: 100px;
  height: 100px; }
.slide.threejs-css3d .block .side {
  width: 100px;
  height: 50px;
  position: absolute;
  background-color: #ccc; }
.slide.threejs-css3d .block .top {
  top: 0;
  left: 0;
  /* side width / 2 = 25px */
  -webkit-transform: rotateX(-90deg) translateY(25px) translateZ(-25px);
  -moz-transform: rotateX(-90deg) translateY(25px) translateZ(-25px);
  transform: rotateX(-90deg) translateY(25px) translateZ(-25px); }
.slide.threejs-css3d .block .left {
  width: 50px;
  height: 100px;
  top: 0;
  left: 0;
  /* side width / 2 = 25px */
  -webkit-transform: rotateY(-90deg) translateX(-25px) translateZ(25px);
  -moz-transform: rotateY(-90deg) translateX(-25px) translateZ(25px);
  transform: rotateY(-90deg) translateX(-25px) translateZ(25px); }
.slide.threejs-css3d .block .bottom {
  top: 100px;
  left: 0;
  /* side width / 2 = 25px */
  -webkit-transform: rotateX(-90deg) translateY(25px) translateZ(-25px);
  -moz-transform: rotateX(-90deg) translateY(25px) translateZ(-25px);
  transform: rotateX(-90deg) translateY(25px) translateZ(-25px); }
.slide.threejs-css3d .block .right {
  width: 50px;
  height: 100px;
  top: 0;
  left: 100px;
  /* side width / 2 = 25px */
  -webkit-transform: rotateY(-90deg) translateX(-25px) translateZ(25px);
  -moz-transform: rotateY(-90deg) translateX(-25px) translateZ(25px);
  transform: rotateY(-90deg) translateX(-25px) translateZ(25px); }
.slide.threejs-css3d-100 .block {
  width: 180px;
  height: 180px;
  padding: 10px;
  background-color: #46e1f8;
  color: #fff; }
.slide.threejs-css3d-100 .block.orange {
  background-color: #f88d46; }
.slide.threejs-css3d-100 .block.green {
  background-color: #66cc66; }
.slide.threejs-css3d-100 .block.yellow {
  background-color: #ffcc33; }
.slide.threejs-css3d-100 .leftarrow {
  font-size: 5em;
  text-align: right;
  line-height: 180px; }
.slide.threejs-css3d-100 .downarrow {
  font-size: 5em;
  text-align: center; }
.slide.threejs-css3d-100 .block .side {
  width: 200px;
  height: 100px;
  background-color: #00bed5;
  position: absolute; }
.slide.threejs-css3d-100 .block.orange .side {
  background-color: #da732d; }
.slide.threejs-css3d-100 .block.green .side {
  background-color: #339966; }
.slide.threejs-css3d-100 .block.yellow .side {
  background-color: #ffb533; }
.slide.threejs-css3d-100 .block .top {
  top: 0;
  left: 0;
  /* side width / 2 = 50px */
  -webkit-transform: rotateX(-90deg) translateY(50px) translateZ(-50px);
  -moz-transform: rotateX(-90deg) translateY(50px) translateZ(-50px);
  transform: rotateX(-90deg) translateY(50px) translateZ(-50px); }
.slide.threejs-css3d-100 .block .left {
  width: 100px;
  height: 200px;
  top: 0;
  left: 0;
  /* side width / 2 = 50px */
  -webkit-transform: rotateY(-90deg) translateX(-50px) translateZ(50px);
  -moz-transform: rotateY(-90deg) translateX(-50px) translateZ(50px);
  transform: rotateY(-90deg) translateX(-50px) translateZ(50px); }
.slide.threejs-css3d-100 .block .bottom {
  top: 200px;
  left: 0;
  /* side width / 2 = 50px */
  -webkit-transform: rotateX(-90deg) translateY(50px) translateZ(-50px);
  -moz-transform: rotateX(-90deg) translateY(50px) translateZ(-50px);
  transform: rotateX(-90deg) translateY(50px) translateZ(-50px); }
.slide.threejs-css3d-100 .block .right {
  width: 100px;
  height: 200px;
  top: 0;
  left: 200px;
  /* side width / 2 = 50px */
  -webkit-transform: rotateY(-90deg) translateX(-50px) translateZ(50px);
  -moz-transform: rotateY(-90deg) translateX(-50px) translateZ(50px);
  transform: rotateY(-90deg) translateX(-50px) translateZ(50px); }
.slide .demos {
  position: relative;
  float: left;
  clear: left;
  left: 50%;
  margin-top: 1.5em;
  min-width: 70%;
  padding-bottom: 2em; }
  .slide .demos .demo {
    margin-bottom: 2em;
    position: relative;
    left: -50%;
    text-align: left;
    clear: left;
    /* Clear fix */ }
    .slide .demos .demo:after {
      content: "";
      display: table;
      clear: both; }
    .slide .demos .demo img {
      width: 35%;
      float: left; }
    .slide .demos .demo h4, .slide .demos .demo p {
      text-align: left;
      margin-bottom: 0.5em;
      padding-left: 40%; }
    .slide .demos .demo h4 {
      font-size: 1.4em;
      white-space: nowrap; }
    .slide .demos .demo p {
      font-size: 1.2em; }
  .slide .demos.smaller {
    min-width: 50%;
    max-width: 75%;
    padding-bottom: 0; }
    .slide .demos.smaller .demo img {
      width: 20%; }
    .slide .demos.smaller .demo h4, .slide .demos.smaller .demo p {
      padding-left: 25%; }
    .slide .demos.smaller .demo h4 {
      font-size: 1em; }
    .slide .demos.smaller .demo p {
      font-size: 0.9em; }
      .slide .demos.smaller .demo p.video {
        font-size: 0.7em; }
.slide .demos + * {
  clear: left; }
.slide.header-and-para h2 {
  margin-top: 20%; }
.slide.header-and-para p {
  margin-top: 1em;
  font-size: 1.6em; }
.slide.live-code p {
  margin-top: 4em;
  font-size: 1.4em; }
  .slide.live-code p.link {
    font-size: 1.6em; }
.slide.live-code .made-earlier {
  margin-top: 4em; }
  .slide.live-code .made-earlier p {
    font-size: 0.9em; }
.slide.threejs-results ul {
  margin: 3em auto 0 auto;
  max-width: 80%; }
.slide.threejs-webgl h3 {
  margin: 3em 0 1em 0;
  font-style: italic;
  font-size: 1.4em; }
.slide.threejs-webgl .loading {
  position: absolute;
  top: 35%;
  width: 100%; }
.slide.no-header .contents > *:nth-child(1) {
  margin-top: 5%; }
.slide.next-time ul {
  margin: 3em auto 0 auto;
  max-width: 80%;
  text-align: left; }
  .slide.next-time ul li {
    margin-bottom: 2em; }
.slide.concluding-thoughts ul {
  margin-top: 3em;
  text-align: left; }
  .slide.concluding-thoughts ul li {
    margin-bottom: 1em; }
  .slide.concluding-thoughts ul li:nth-child(odd) {
    color: #666; }
.slide .smiley {
  clear: left;
  padding-top: 2em; }
  .slide .smiley span {
    display: block;
    font-size: 1.5em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg); }
